In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import scipy as sp
from scipy import stats
import scipy.stats.mstats as mst
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import (pairwise_tukeyhsd, MultiComparison)

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

data = pd.read_csv('901_CleanedData.csv', low_memory=False)

In [2]:
def newIV(row):
    if row['DISC_SCORE0'] < 2:
        val = 0
    else:
        val = 1
    return val

data['DISC'] = data.apply(newIV, axis=1)

Factors: DISC, RACE, DEGREE, INCOME0, CVD

Continuous: CRPRESU0, BMI0

In [3]:
formula = 'LV_AGE_DIFF0 ~ C(DISC) + C(RACE) + C(DEGREE) + C(INCOME0) + C(CVD) + CRPRESU0 + BMI0'
lm = smf.ols(formula, data).fit()

In [4]:
# design matrix...

lm.model.data.orig_exog

,Intercept,C(DISC)[T.1],C(RACE)[T.Black],C(RACE)[T.Caucasian],C(RACE)[T.Hispanic],C(DEGREE)[T.2.0],C(DEGREE)[T.3.0],C(DEGREE)[T.4.0],C(DEGREE)[T.5.0],C(INCOME0)[T.2.0],C(INCOME0)[T.3.0],C(INCOME0)[T.4.0],C(CVD)[T.1],CRPRESU0,BMI0
0,1,0,0,1,0,0,1,0,0,0,1,0,0,0.500,23.865142
1,1,0,0,1,0,0,0,1,0,1,0,0,0,4.100,39.359389
2,1,0,1,0,0,0,1,0,0,1,0,0,0,2.100,25.608815
3,1,0,1,0,0,0,1,0,0,1,0,0,0,6.400,26.159334
4,1,1,1,0,0,0,1,0,0,1,0,0,0,2.300,41.304671
5,1,1,0,1,0,1,0,0,0,1,0,0,0,7.500,42.652404
6,1,0,0,1,0,0,0,1,0,0,1,0,0,1.100,34.792141
7,1,0,0,1,0,0,1,0,0,1,0,0,0,1.100,25.418797
8,1,0,0,1,0,0,1,0,0,0,1,0,0,0.500,23.735606
9,1,0,0,1,0,0,0,0,1,0,1,0,0,10.200,34.694660
10,1,0,1,0,0,0,0,1,0,0,0,1,0,1.500,26.770650
11,1,0,1,0,0,0,0,1,0,1,0,0,0,0.400,25.894778
12,1,0,0,1,0,0,1,0,0,0,1,0,0,0.055,17.084480
13,1,1,1,0,0,1,0,0,0,0,0,0,0,12.300,28.254157
14,1,0,1,0,0,0,1,0,0,1,0,0,0,3.200,32.319866
15,1,0,0,1,0,0,0,0,1,1,0,0,0,4.200,31.713247
16,1,1,0,1,0,0,0,1,0,1,0,0,0,0.099,20.610918
17,1,1,0,1,0,0,1,0,0,0,0,0,0,2.300,33.979926
18,1,1,1,0,0,0,0,0,0,1,0,0,0,8.700,36.483769
19,1,0,1,0,0,0,1,0,0,1,0,0,0,3.900,28.292242
20,1,1,1,0,0,1,0,0,0,0,1,0,0,2.600,52.773438
21,1,0,1,0,0,0,1,0,0,0,1,0,0,8.900,39.720500
22,1,1,1,0,0,0,0,1,0,0,1,0,0,10.200,28.986783
23,1,0,1,0,0,0,0,0,1,0,1,0,0,0.200,23.074495
24,1,0,1,0,0,0,0,0,1,0,1,0,0,0.300,26.663414
25,1,0,0,1,0,0,0,0,1,0,0,0,0,3.600,36.591237
26,1,0,0,1,0,0,1,0,0,1,0,0,0,0.700,27.991772
27,1,1,0,1,0,0,1,0,0,0,0,0,0,2.600,35.932094
28,1,0,0,1,0,0,1,0,0,1,0,0,0,0.400,21.603794
29,1,0,0,1,0,1,0,0,0,1,0,0,0,6.100,32.615944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,1,0,0,1,0,0,0,1,0,0,0,1,0,5.100,22.040473
3233,1,0,1,0,0,0,1,0,0,0,0,0,0,2.700,28.734004
3234,1,1,1,0,0,0,1,0,0,1,0,0,0,8.400,34.316109
3235,1,1,1,0,0,0,0,0,1,1,0,0,0,6.100,45.327960
3236,1,1,0,1,0,0,1,0,0,1,0,0,0,6.100,31.645570
3237,1,1,0,1,0,0,0,1,0,0,1,0,0,0.500,26.014778
3238,1,1,0,1,0,0,0,0,1,1,0,0,0,1.600,29.585130
3239,1,1,0,1,0,0,1,0,0,0,1,0,0,1.700,29.309862
3240,1,0,0,1,0,0,0,0,1,0,0,1,0,0.300,24.323642
3241,1,0,1,0,0,0,1,0,0,0,0,0,0,36.300,52.903225
3242,1,1,0,1,0,0,0,0,1,0,1,0,0,2.700,25.347328
3243,1,0,1,0,0,0,1,0,0,0,1,0,0,5.700,22.065614
3244,1,0,1,0,0,1,0,0,0,1,0,0,0,0.600,25.188243
3245,1,1,0,1,0,0,0,1,0,0,1,0,0,6.000,38.530879
3246,1,0,1,0,0,0,1,0,0,0,1,0,0,4.800,23.221060
3247,1,0,0,1,0,0,0,0,1,0,1,0,0,2.000,24.858712
3248,1,0,0,1,0,0,0,1,0,0,0,1,0,4.400,31.559369
3249,1,0,1,0,0,0,1,0,0,1,0,0,0,1.300,30.965027
3250,1,0,1,0,0,0,1,0,0,1,0,0,0,2.800,36.749692
3251,1,1,0,1,0,0,0,0,1,0,0,1,0,0.500,22.583829
3252,1,0,0,1,0,1,0,0,0,0,1,0,0,12.900,41.814782
3253,1,0,0,1,0,0,1,0,0,1,0,0,0,3.300,47.911665
3254,1,1,1,0,0,1,0,0,0,0,0,0,0,7.400,36.775509
3255,1,1,1,0,0,0,0,0,1,1,0,0,0,0.400,28.496427
3256,1,0,0,1,0,0,1,0,0,0,1,0,0,8.700,41.673335
3257,1,1,0,1,0,0,0,1,0,1,0,0,0,0.124,27.213791
3258,1,1,1,0,0,0,0,0,0,1,0,0,0,1.200,35.055632
3259,1,0,1,0,0,0,0,1,0,1,0,0,0,0.500,24.308701
3260,1,0,0,1,0,0,1,0,0,0,1,0,0,6.900,31.928733
3261,1,0,0,1,0,0,0,0,1,0,1,0,1,1.000,20.971071

In [5]:
anova = anova_lm(lm)

In [6]:
anova

              df         sum_sq       mean_sq           F        PR(>F)
C(DISC)        1    5833.915722   5833.915722   36.942321  1.358078e-09
C(RACE)        3   59541.287471  19847.095824  125.678503  5.129622e-77
C(DEGREE)      4   15900.624128   3975.156032   25.172028  1.463840e-20
C(INCOME0)     3    4042.437103   1347.479034    8.532692  1.212669e-05
C(CVD)         1    6672.367338   6672.367338   42.251680  9.255739e-11
CRPRESU0       1   22166.080712  22166.080712  140.363097  9.894008e-32
BMI0           1   44880.369357  44880.369357  284.197632  3.403228e-61
Residual    3247  512764.861762    157.919576         NaN           NaN

In [7]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           LV_AGE_DIFF0   R-squared:                       0.237
Model:                            OLS   Adj. R-squared:                  0.233
Method:                 Least Squares   F-statistic:                     71.93
Date:                Sat, 05 Dec 2015   Prob (F-statistic):          1.54e-178
Time:                        20:20:04   Log-Likelihood:                -12877.
No. Observations:                3262   AIC:                         2.578e+04
Df Residuals:                    3247   BIC:                         2.588e+04
Df Model:                          14
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------
Intercept              -17.3927      1.459    -11.921      0.000       -20.253   -14.532
C(DISC)[T.1]             0.8404      0.493      1.706      0.088        -0.126     1.806
C(RACE)[T.Black]         4.2001      0.761      5.519      0.000         2.708     5.692
C(RACE)[T.Caucasian]     0.2689      0.664      0.405      0.686        -1.033     1.571
C(RACE)[T.Hispanic]      3.5760      1.075      3.327      0.001         1.469     5.683
C(DEGREE)[T.2.0]         0.7725      1.061      0.728      0.467        -1.308     2.853
C(DEGREE)[T.3.0]        -0.1106      1.030     -0.107      0.915        -2.130     1.909
C(DEGREE)[T.4.0]        -3.0517      1.100     -2.774      0.006        -5.208    -0.895
C(DEGREE)[T.5.0]        -3.0197      1.116     -2.705      0.007        -5.208    -0.831
C(INCOME0)[T.2.0]       -1.9613      0.743     -2.638      0.008        -3.419    -0.504
C(INCOME0)[T.3.0]       -1.8087      0.774     -2.335      0.020        -3.327    -0.290
C(INCOME0)[T.4.0]       -2.0223      0.947     -2.137      0.033        -3.878    -0.166
C(CVD)[T.1]              7.9818      1.355      5.892      0.000         5.326    10.638
CRPRESU0                 0.1655      0.040      4.146      0.000         0.087     0.244
BMI0                     0.6234      0.037     16.858      0.000         0.551     0.696
==============================================================================
Omnibus:                     1270.582   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7719.351
Skew:                           1.736   Prob(JB):                         0.00
Kurtosis:                       9.689   Cond. No.                         300.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""